
.divDimensions {
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: lightblue;
}

.divFirstPosition {
    top: 50px;
    left: 50px;
}

.divSecondPosition {
    bottom: 50px;
    right: 50px;
}

@media only screen and (max-width: 500px) {

    .divFirstPosition {
        top: 5px;
        left: 5px;
    }
    
    .divSecondPosition {
        bottom: 5px;
        right: 5px;
    }
}